sd-intellisense ul.list-group {
	display: inline-block;
}

sd-intellisense ul li.list-group-item:hover {
	background-color: lightgrey
}

sd-intellisense ul li.list-group-item .active {
	background-color: lightgrey
}

sd-intellisense ul li.list-group-item:first-child {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}